* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* 设置淡灰色背景 */
}

/* 导航栏样式 */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    align-items: center; /* 让 Logo 和链接垂直居中对齐 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: space-between; /* 让 Logo 和链接两端对齐 */
}

.logo-container {
    display: flex;
    align-items: center; /* 让 Logo 和文字垂直居中 */
    text-decoration: none; /* 取消链接默认的下划线 */
}

.logo-img {
    width: 40px; /* 设置 Logo 的宽度 */
    height: 40px; /* 设置 Logo 的高度 */
    margin-right: 10px; /* 让 Logo 和文字之间有间距 */
}

.logo {
    font-size: 1.5rem;
    color: #fff; /* 确保文字颜色是白色 */
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center; /* 让导航链接垂直居中 */
}

.navbar .nav-links li {
    margin-left: 20px;
}

/* 导航栏的链接样式 */
.navbar .nav-links li a {
    color: #fff; /* 保持白色 */
    text-decoration: none; /* 去掉下划线 */
    font-size: 1rem; /* 字体大小 */
    padding: 0.5rem 1rem; /* 给链接增加内边距，增大点击区域 */
    border-radius: 10px; /* 给链接增加圆角 */
    background-color: #333;
}

.navbar .nav-links li a:hover {
    color: #fff; /* 悬停时的文字颜色保持白色 */
}

.navbar .nav-links li a:active {
    color: #fff; /* 点击时的文字颜色保持白色 */
}

/* 轮播图样式 */
.carousel {
    position: relative;
    width: 100%;
    height: 100vh; /* 让轮播图占满整个视口高度 */
    overflow: hidden;
    /* margin-top: 50px; 给导航栏留出空间 */
    display: block;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 100vh; /* 图片占据整个视口高度 */
    object-fit: cover; /* 保持图片比例并裁剪图片以填充整个视口 */
    filter: brightness(50%);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* 黑色半透明遮罩 */
    z-index: 1; /* 遮罩在文本下方 */
}

.slide-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slide-texts > * {
    text-shadow: 5px 5px 5px #333;
}

.slide-texts h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

.slide-texts h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
}

.slide-texts p {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 1.25rem;
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5; /* 默认不活跃状态 */
    transition: opacity 0.3s;
    z-index: 3;
}

.indicator.active {
    opacity: 1; /* 当前活动的 indicator */
    background-color: red; /* 可以修改为其他颜色 */
}

section {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

section h2 {
    flex: 0 0 100%;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/* 管理团队样式 */
.staff-member {
    display: flex; /* 使用 Flexbox */
    flex-direction: column; /* 纵向排列子元素 */
    align-items: center; /* 中心对齐 */
    width: 200px;
    margin: 20px;
    text-align: center;
}

.staff-member img {
    width: 150px;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.5); */
    /* background-color: rgb(250, 250, 250); */
    filter: drop-shadow(0px 0px 10px #333);
}

.staff-member h3 {
    margin: 10px 0 3px;
    font-size: 1.5rem;
}

.staff-member h4 {
    margin: 0 0 7px;
    font-size: 1rem;
}

.staff-member p {
    font-size: 0.75rem;
    color: #555;
}
